:root {
  --brand-color: #4dca6e;
  --black: #000;
  --white: #fff;
  --light: #f8f9fa;
  --card-width: 480px;
  --body-color: #212529;
  --body-color-rgb: 33, 37, 41;
  --body-font-family: 'Karla', sans-serif;
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-bg: #ffffff;
  --border-width: 1px;
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--body-color);
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-image: linear-gradient(45deg, #ebf1f0, #f7f7f7, #ebf1f0);
  margin-bottom: 10px;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.sticky-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1020;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(var(--body-color-rgb), 0.15);
}

.brand {
  color: var(--brand-color);
  font-size: large;
  font-family: 'Itim', cursive;;
  font-weight: 600;
}

.btn {
  --btn-padding-x: 0.75rem;
  --btn-padding-y: 0.375rem;
  --btn-font-family: ;
  --btn-font-size: 1rem;
  --btn-font-weight: 500;
  --btn-line-height: 1.5;
  --btn-color: var(--btn-color);
  --btn-bg: transparent;
  --btn-border-width: var(--border-width);
  --btn-border-color: transparent;
  --btn-border-radius: 0.375rem;
  --btn-hover-border-color: transparent;
  --btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --btn-disabled-opacity: 0.65;
  --btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  color: var(--btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--btn-border-width) solid var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
}

.border-0 {
  border: none;
}

.btn-brand {
  --btn-color: #fff;
  --btn-bg: var(--brand-color);
  --btn-border-color: var(--brand-color);
  --btn-hover-color: #fff;
  --btn-hover-bg: #37bc5b;
  --btn-hover-border-color: #4dca6e;
  --btn-focus-shadow-rgb: 60, 153, 110;
  --btn-active-color: #fff;
  --btn-active-bg: #37bc5b;
  --btn-active-border-color: #37bc5b;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-disabled-color: #fff;
  --btn-disabled-bg: var(--brand-color);
  --btn-disabled-border-color: var(--brand-color);
  letter-spacing: 1px;
}

.btn-brand-outline {
  --btn-color: var(--brand-color);
  --btn-bg: #fff;
  --btn-border-color: var(--brand-color);
  --btn-hover-color: #fff;
  --btn-hover-bg: #37bc5b;
  --btn-hover-border-color: #4dca6e;
  --btn-focus-shadow-rgb: 60, 153, 110;
  --btn-active-color: #fff;
  --btn-active-bg: #37bc5b;
  --btn-active-border-color: #37bc5b;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-disabled-color: #fff;
  --btn-disabled-bg: var(--brand-color);
  --btn-disabled-border-color: var(--brand-color);
  letter-spacing: 1px;
}

.rounded-05 {
  border-radius: 0.5rem;
}

.rounded-pill {
  --border-radius-pill: 50rem;
  border-radius: var(--border-radius-pill);
}

.rounded-circle {
  border-radius: 50%;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(var(--body-color-rgb), 0.15) !important;
}

.fa-heart[data-prefix="fas"] {
  color: var(--brand-color);
  pointer-events: none;
}

.fa-heart:hover,
.xn:hover:enabled {
  color: var(--brand-color);
  cursor: pointer;
}

.p-1,
.px-1,
.ps-1 {
  padding-left: 1rem;
}

.p-1,
.px-1,
.pe-1 {
  padding-right: 1rem;
}

.p-1,
.py-1,
.pt-1 {
  padding-top: 1rem;
}

.p-1,
.py-1,
.pb-1 {
  padding-bottom: 1rem;
}

#root {
  padding: 10px 15px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-end {
  text-align: right;
}

.bg-white {
  background-color: #f7f7f7;
}

.row {
  --gutter-x: 1.5rem;
  --gutter-y: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-0.5 * var(--gutter-x));
  margin-left: calc(-0.5 * var(--gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  margin-top: var(--gutter-y);
}

.col {
  flex: 0 0 auto;
  width: 100%;
}

.list--card {
  position: relative;
  font-family: "Public Sans", sans-serif;
  margin: calc(var(--gutter-y) * 0.5) calc(var(--gutter-x) * 0.5);
  background-color: var(--light);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(var(--body-color-rgb), 0.60);
  overflow: hidden;
  cursor: pointer;
}

.expand--image {
  cursor: pointer;
}

.list--card > *,
.expand--image > * {
  pointer-events: none;
}

.image--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  z-index: 0;
}

.list--image {
  width: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
  transition: transform 1s ease-in-out;
}

.list--info {
  position: absolute;
  /* display: none; */
  color: #ffffff;
  width: calc(100% - 30px);
  padding: 15px;
  padding-top: 50px;
  bottom: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.01), rgba(0,0,0,0.9));
}

.info--name {
  font-size: 1.2rem;
  font-weight: 500;
}

.info--age {
  font-size: small;
}

.list--card:hover .list--image {
  transform: scale(1.08);
}

.list--card .info--detail {
  display: none;
}

.list--card:hover .info--detail {
  display: inherit;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1020;
}

.modal--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.1rem;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  background-color: #f7f7f7;
  overflow: auto;
}

.modal--footer {
  margin-top: 15px;
}

.pet--description {
  display: -webkit-box;
  margin: 10px 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pet--info {
  text-align: left;
  border-collapse: collapse;
}

.pet--info td {
  padding-left: 15px;
}

.scroller {
  display: flex;
  gap: 15px;
  width: max-content;
}

.scroller-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

@media (min-width: 576px) {
  .col {
    width: 50%;
  }

  .flex-md-row {
    flex-direction: row;
  }

  .modal--content {
    width: calc(80vw - 2rem);
    height: calc(90vh - 2rem);
  }
}

@media (min-width: 992px) {
  .col {
    width: 33.33333333%;
  }
}

@media (min-width: 1200px) {
  .col {
    width: 25%;
  }
}

.modal {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  visibility: hidden;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.expanded--image {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1021;
}

.expanded--image .expand--close {
  position: absolute;
  color: #fff;
  top: 10px;
  right: 10px;
  background-color: #373737;
}

.expanded--image img {
  height: 100%;
}